@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}
.logo{
  height: 20px;
  width: 20px;
  margin: 5px;
 }
